body {
    font-family: "Raleway", sans-serif;
}




/*----------------------------------------------------------- Navbar */

.navbar {
    position: absolute;
    width: 100%;
    background-color: #6e2b8c;
    z-index: 1;
}


.navbar .nav-item {
    padding-left: 50px;
}

.navbar .navbar-brand {
    font-weight: 800;

}

.hvr-shrink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-shrink:hover,
.hvr-shrink:focus,
.hvr-shrink:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
}

/*----------------------------------------------------------- /Navbar */

/*----------------------------------------------------------- Home */

.home-welcome {
    background-image: url(../photos/arts-and-crafts-bobbin-close-up-1266139.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    margin: 0;
    padding: 1px;
    color: #fff;
}

.heading {
    margin-top: 150px;
    font-size: 8vw;
    font-weight: 700;
}

.sub-heading {
    padding-top: 25px;
    font-size: 4vw;
    font-weight: 500;
}

.projects-heading {
    padding-top: 25px;
    font-size: 8vw;
    font-weight: 700;
}

.projects-div {
    text-align: center;
    background-color: #d6c7e4;
}


/*----------------------------------------------------------- /Home */

/*----------------------------------------------------------- Footer */

footer {
    background-color: #6e2b8c;
    padding: 0 15px;
}


.social-links {
    padding-top: 15px;
    text-align: right;
}

.copyright {
    height: 15px;
    color: #fff;
}

.social-links li a i {
    font-size: 20px;
    height: 15px;
    text-align: center;
    color: #fff;
}

.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/*----------------------------------------------------------- /Footer */

/*----------------------------------------------------------- Media Queries */

@media (min-width: 768px) {
    .frontpage-photos {
        display: flex;
    }

    .frontpage-photos img {
        width: 100%;
        height: auto;
        vertical-align: middle;
    }
    
    #photo1 {
        flex: calc(3123/4684);
    }
    
    #photo2 {
        flex: calc(2832/4256);
    }
    
    #photo3 {
        flex: calc(2899/2829);
    }
}

/*----------------------------------------------------------- /Media Queries */