body {
    font-family: "Raleway", sans-serif;
}




/*----------------------------------------------------------- Navbar */

.navbar {
    position: absolute;
    width: 100%;
    background-color: #6e2b8c;
    z-index: 1;
}


.navbar .nav-item {
    padding-left: 50px;
}

.navbar .navbar-brand {
    font-weight: 800;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
}

/*----------------------------------------------------------- /Navbar */

/*----------------------------------------------------------- Home */

.home-content {
    background-image: url(../images/arts-and-crafts-bobbin-close-up-1266139.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    margin: 0;
    padding: 1px;
    color: #fff;
}

.heading {
    margin-top: 100px;
    font-weight: 700;
    font-size: 8vw;
}

.sub-heading {
    padding-top: 25px;
    font-size: 4vw;
    font-weight: 500;
    
}

/*----------------------------------------------------------- /Home */

/*----------------------------------------------------------- Footer */

footer {
    background-color: #6e2b8c;
    padding: 0 15px;
}


.social-links {
    padding-top: 15px;
    text-align: right;
}

.copyright {
    height: 15px;
    color: #fff;
}

.social-links li a i {
    font-size: 20px;
    height: 15px;
    text-align: center;
    color: #fff;
}

/*----------------------------------------------------------- /Footer */
